/* menu */
@font-face {
    font-family: El Messiri;
    src: url(/fonts/ElMessiri-Regular.ttf);
}
* {
    font-family: El Messiri, Montserrat;
    color: rgb(255, 255, 255);
}

/* -----------------------------Products----------------------------- */
body {
    margin: 0;
}
header {
    position: relative;
    height: 150px;
    width: 100%;
    margin-top: 0;
    align-items: center;
}

.nav{
    position: relative;
    height: 100px;
    width: 300px;
    background-color: #075B26;
    border-radius: 0 0 3em 0;
    align-items: center;
    float: left;
}
.nav span{
    position: relative;
    margin: 60px 0 20px 60px;
    margin-top: 20px;
    font-size: 45px;
}
.form-group {
    height: 40px;
    width: 400px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 1.5em;
    color: black;
    border: none;
    background-color: rgb(184, 179, 179);
    position: absolute;
}
.form-group .fa{
    margin-left: 10px;
    align-self: center;
}
.form-group .form-control {
    width: 300px;
    position: relative;
    margin: 10px 20px 20px 10px;
    border: none;
    resize: none;
    outline: none;
    background-color: rgb(184, 179, 179);
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
input::placeholder {
    font-size: 20px;
    margin-left: 20%;
}

/* -----------------------------ham-menu----------------------------- */
.main-menu {
    margin-top: 10%;
    margin-right: 0;
    margin-top: 0px;
    position: relative;
}
  
  /* text */

.text {
    align-items: center;
    align-self: center;
}
.text span{
    font-size: 40px;
    font-weight: 200;
    color: #075B26;
}
.text h2 {
    align-self: center;
    text-align: center;
    font-weight: 80;
    color: black;
}
hr{
    width: 75%;
    margin-left: 10%;
}


.container {
    background-color: rgb(255, 255, 255);
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.menuLogo {
    height: 3px;
    width: 30px;
    background-color: black;
}
.menu {
    width: 10%;
    height: 0px;
    padding: 0px;
    transform: translate(-600px);
    top: -600px;
}
.menu li {
    display: block;
    border-bottom: 1px solid rgb(233, 248, 17);
    padding: 0px 0;
    text-align: center;
}
.showmenu {
    transform: translate(0px);
}
.menu li:last-child {
    border-bottom: none;
}
.menu li:last-child a {
    font-weight: bold;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: font-weight 0.2s;
}
.menu li a:hover{
    font-weight: bold;
}


/* -----------------------------carousel----------------------------- */

.carousel {
    position: relative;

}
.carousel-inner{
    align-items: center;
}
.carousel-item {
    height: 300px;
    width: 400px;
}
/*  */

/*  */
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    list-style: none;
    padding-top: 50px;
}
ul li{
    display: inline-block;
}
.slide[data-active] {
    opacity: 1;
}
.products > ul{
    margin-left: 5%;
    display: inline-block;
}
.product-card{
    height: 350px;
    width: 300px;
    align-items: center;
    background-color: #075B26;
}
.product-card img{
    height: 300px;
    width: 300px;
    margin-top: 25px;
}
.product-desc {
    align-items: center;
}
.product-desc h3{
    text-align: center;
    color: black;
}
.product-desc span {
    color: black;
    align-items: center;
    font-weight: 20;
}


.buttons {
    float: right;
    height: 80px;
    color: black;
}
.buttons > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    height: 30px;
    width: 40px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    background: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

button:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .form-group {
        display: none;
    }
    .nav {
        height: 100px;
        width: 300px;
        background-color: #075B26;
        border-radius: 0 0 3em 0;
        align-items: center;
        float: left;
    }
    .nav span{
        position: relative;
        margin: 60px 0 20px 60px;
        margin-top: 20px;
        font-size: 45px;
    }
    .form-group {
        position: hidden;
    }
    .form-group .fa{
        margin-left: 10px;
        align-self: center;
    }
    .form-group .form-control {
        width: 300px;
        position: relative;
        margin: 10px 20px 20px 10px;
        border: none;
        resize: none;
        outline: none;
        background-color: rgb(184, 179, 179);
    }
    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }
    input::placeholder {
        font-size: 20px;
        margin-left: 20%;
    }
    .main-menu {
        margin-top: 10%;
        margin-right: 0;
        margin-top: 0px;
        position: relative;
    }
      
      /* text */
    
    .text {
        align-items: center;
        align-self: center;
    }
    .text span{
        font-size: 40px;
        font-weight: 200;
        color: #075B26;
    }
    .text h2 {
        align-self: center;
        text-align: center;
        font-weight: 80;
        color: black;
    }
    hr{
        width: 75%;
        margin-left: 10%;
    }
    
    /* .search input[type=text]{
        width:300px;
        height:30px;
        border-radius:25px;
        border: none;
        background-color: rgb(138, 133, 133 
        );
        margin-left: 50%;
        margin-top: 20px;
        position: absolute;
        z-index: 1;

    } */
}