@font-face {
    font-family: El Messiri;
    src: url(/fonts/ElMessiri-Regular.ttf);
}
* {
    font-family: El Messiri, Montserrat;
    margin: 0px;
}
/* home page */
.nav-bar{
    position: relative;
    height: 130px;
    background-color: rgb(255, 255, 255);
}
.nav-menu {
    margin-top: 1em;
    margin-left: 50%;
}
.tag {
    /* margin: 0 auto; */
    margin-top: 0px;
    position: absolute;
    float: left;
    width: 15.5rem;
    height: 130px;
    background-color: #075B26;
    align-items: center;
    text-align: center;
    border-radius:0 4em 4em 0;
    color: rgb(255, 255, 255);
}

.in-text > h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}
.in-text > p {
    font-size: 20px;
}
.main-menu{
    display: none;
}
.menu {
    list-style: none;
    margin-left: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    margin-top: 30px;
}
li a {
    text-align: center;
    padding: 30px 36px;
    text-decoration: none;
    font-style: none;
    font-size: 30px;
    color: black;
    margin-top: 30px;
}

/* body */
.main-body { 
    position: absolute;
    margin: 0;
    height: 95%;
    width: 100%;
    background-size: cover;
}
.main-img {
    position: absolute;
    height: 600px;
    width: 30%;
    background-color: white;
    border-radius: 0 0 3.5em 0;
    float: left;
    z-index: 1;
}
.main-body .m-img {
    height: 600px;
    width: 600px;
    margin-top: 30px;
    border-radius: 25em;
    margin-left: 50px;
    z-index: 3;
}
.back-img {
    margin-top: 0px;
    height: 200px;
    width: 100%;
}
.div-text {
    position: relative;
    height: 400px;
    width: 70%;
    background-color: white;
    float: right;
    align-items: center;
    z-index: 0;
}
.div-text h1 {
    text-align: center;
    font-family: El Messiri;
    font-size: 60px;
    font-weight: 300;
    color: #075B26;
    margin-top: 90px;
    margin-left: 130px;
}
.div-text p {
    text-align: center;
    font-family: "El Messiri" ;
    font-size: 20px;
    font-weight: 150;
    margin-top: 10px;
    margin-left: 150px;
}
.div-text h2 {
    font-weight: 200;
    color: #075B26;
    text-align: center;
    margin-left: 100px;
}
.btnLink {
    margin-top: 30px;
}
.main-body a {
    text-decoration: none;
    padding: 25px 60px;
    border-radius: 5em;
    background-color: #F1F129;
    border: 0;
    margin-left: 45%;
    color: black;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        height: 100px;
    }
    .tag {
        height: 100px;
    }
    .nav-menu {
        /* margin-left: 0;
        text-align: center; */
        display: none;
    }
    .nav-menu {
      margin-left: 0;
    }
    .tag {
      width: 100%;
      border-radius: 0 0 4em 0;
    }
    .main-img {
        margin: 0;
        width: 0%;
        height: 0;
    }
    .m-img {
      display: none;
    }
    .div-text {
      width: 100%;
      float: none;
      margin-top: 30px;
    }
    .div-text h1 {
      font-size: 40px;
      margin-left: 0;
    }
    .div-text p {
      font-size: 18px;
      margin-left: 0;
    }
    .div-text h2 {
      margin-left: 0;
    }

     /* bug-menu */
    .main-menu {
        margin-top: 30%;
        margin-right: 0;
        margin-top: 0px;
        position: relative;
    }
      
      /* text */
    
    .text {
        align-items: center;
        align-self: center;
    }
    .text span{
        font-size: 40px;
        font-weight: 200;
        color: #075B26;
    }
    .text h2 {
        align-self: center;
        text-align: center;
        font-weight: 80;
        color: black;
    }
    hr{
        width: 75%;
        margin-left: 10%;
    }
    
    
    .container {
        background-color: rgb(255, 255, 255);
        float: right;
        height: 25px;
        width: 40px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .menuLogo {
        height: 3px;
        width: 30px;
        background-color: black;
    }
    .menu-2 {
        width: 10%;
        height: 0px;
        padding: 0px;
        transform: translate(-600px);
        top: -600px;
    }
    .menu-2 li {
        display: block;
        border-bottom: 1px solid rgb(233, 248, 17);
        padding: 0px 0;
        text-align: center;
    }
    .showmenu {
        transform: translate(0px);
    }
    .menu-2 li:last-child {
        border-bottom: none;
    }
    .menu-2 li:last-child a {
        font-weight: bold;
    }
    .menu-2 li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        transition: font-weight 0.2s;
    }
    .menu-2 li a:hover{
        font-weight: bold;
  }

}